.icon {float: right;
    margin-right: 10px; /* Ikonlar arasında boşluk eklemek için */
    cursor: pointer; /* İkonlara fare işareti değişsin */
  }
  
  .fa-trash:hover {
    color: red; /* Çöp kutusu ikonunun hover rengi */
  }
  
  .fa-pen:hover {
    color: blue; /* Kalem ikonunun hover rengi */
  }